<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="title" placeholder="Title" />
            <input type="text" name="text" placeholder="Exercise" />
             <input type="text" name="answer" placeholder="Answer" />
              
            <button type="submit">Добавить</button>
        </form>
    </div>
   
    
</body>
</html>