<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
				<table class="table table-hover">
					<th:block th:each="user : ${users}">
						<tr>
							<td th:text="${user.username}">...</td>
							
						</tr>

					</th:block>
				</table>
		
	<form method="post" action="filter">
		<input type="text" name="filter" placeholder="Введите имя" />
		<button type="submit">Отправить</button>
	</form>
</body>
</html>